extends layout

block content
  h1(class="caption") Welcome to AddressBook
  div(class="container")
    br
    p(id='status') #{status} 
    form(action="/login",method="post",data-ajax='false')
      label Username 
      input(type='text' name='userName')
      br
      br
      label Password 
      input(type='password' name='password')
      br
      br
      input(type="submit",value="Login")
      br
      p Not registered yet?
      a(href="/register") Register now
    br
    //br
    //label List of existing users
    //br
    //ul(data-role='listview',data-filter='true',data-input='#test')
    //each user in user_data
    //  li 
    //    p #{user.userName}
    //button(action="/showUsers") Show users
    