extends layout

block content
  a(href='/logout',id='logout') Logout(#{username})
  div(class='container')
    div(data-role='header') #{mydata.name}
    table(data-role='table',data-mode='reflow')
      thead
        tr
          th Address
          th Email
      tbody
        tr
          td #{mydata.address}
          td #{mydata.email}
