extends layout

block content
  a(href='/logout',id='logout') Logout
  div(class='container')
    div(data-role='header') #{name}
    table(data-role='table',data-mode='reflow')
      thead
        tr
          th Address
          th Email
      tbody
        tr
          td #{address}
          td #{email}
