body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url("../images/Address-book.svg")
  background-repeat: no-repeat
  background-position: left
  background-attachment: fixed
a
  color: #00B7FF
.container
  width:300p
  margin:0 auto
  text-align:center
.containerLeft
  position: relative
  left: -37px