body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.container
  width:350px
  margin:0 auto
#error
  color:red
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
#logout
  float:right
  margin:10px  
.bigheader
  margin:0 auto
  align:center
  backgound-color: red
.caption
  text-align: center
#status
  color: red